/*  
*  Default Styling
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
body {
	background-color: #fff;
	color: #333;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.625;
	margin: 0;
	overflow-x: hidden;
}
button {
	transition: all 0.2s ease-in-out;
	background-color: #333;
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	white-space: normal;
	width: auto;
	&:focus {
		background-color: #0073e5;
		border-width: 0;
		color: #fff;
	}
	&:hover {
		background-color: #0073e5;
		border-width: 0;
		color: #fff;
	}
}
input {
	&:focus {
		transition: all 0.2s ease-in-out;
		border: 1px solid #999;
		outline: none;
	}
	background-color: #fff;
	border: 1px solid #ddd;
	color: #333;
	font-size: 18px;
	font-weight: 400;
	padding: 15px;
	width: 100%;
}
input[type="button"] {
	transition: all 0.2s ease-in-out;
	background-color: #333;
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	white-space: normal;
	width: auto;
	&:focus {
		background-color: #0073e5;
		border-width: 0;
		color: #fff;
	}
	&:hover {
		background-color: #0073e5;
		border-width: 0;
		color: #fff;
	}
}
input[type="reset"] {
	transition: all 0.2s ease-in-out;
	background-color: #333;
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	white-space: normal;
	width: auto;
	&:focus {
		background-color: #0073e5;
		border-width: 0;
		color: #fff;
	}
	&:hover {
		background-color: #0073e5;
		border-width: 0;
		color: #fff;
	}
}
input[type="submit"] {
	transition: all 0.2s ease-in-out;
	background-color: #333;
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	white-space: normal;
	width: auto;
	&:focus {
		background-color: #0073e5;
		border-width: 0;
		color: #fff;
	}
	&:hover {
		background-color: #0073e5;
		border-width: 0;
		color: #fff;
	}
}
textarea {
	&:focus {
		transition: all 0.2s ease-in-out;
		border: 1px solid #999;
		outline: none;
	}
	background-color: #fff;
	border: 1px solid #ddd;
	color: #333;
	font-size: 18px;
	font-weight: 400;
	padding: 15px;
	width: 100%;
}
.button {
	transition: all 0.2s ease-in-out;
	background-color: #333;
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	white-space: normal;
	width: auto;
	display: inline-block;
	&:focus {
		background-color: #0073e5;
		border-width: 0;
		color: #fff;
	}
	&:hover {
		background-color: #0073e5;
		border-width: 0;
		color: #fff;
	}
}
.gallery {
	img {
		transition: all 0.2s ease-in-out;
		border: 1px solid #eee;
		height: auto;
		padding: 4px;
		&:focus {
			border: 1px solid #999;
			outline: none;
		}
		&:hover {
			border: 1px solid #999;
			outline: none;
		}
	}
	overflow: hidden;
}
a {
	color: #0073e5;
	text-decoration: underline;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	&:focus {
		color: #333;
		text-decoration: none;
	}
	&:hover {
		color: #333;
		text-decoration: none;
	}
}
p {
	margin: 0 0 30px;
	padding: 0;
}
ol {
	margin: 0;
	padding: 0;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}
hr {
	border: none;
	border-collapse: collapse;
	border-top: 1px solid #eee;
	clear: both;
	margin: 30px 0;
}
b {
	font-weight: 700;
}
strong {
	font-weight: 700;
}
blockquote {
	font-style: italic;
	margin: 30px;
}
cite {
	font-style: italic;
}
em {
	font-style: italic;
}
i {
	font-style: italic;
}
mark {
	background: #ddd;
	color: #333;
}
h1 {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 20px;
	font-size: 30px;
}
h2 {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 20px;
	font-size: 27px;
}
h3 {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 20px;
	font-size: 24px;
}
h4 {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 20px;
	font-size: 20px;
}
h5 {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 20px;
	font-size: 18px;
}
h6 {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 20px;
	font-size: 16px;
}
.entry-content {
	h3 {
		font-weight: 600;
	}
	h4 {
		font-weight: 600;
		margin-top: 40px;
	}
	.button {
		&:focus {
			color: #fff;
		}
		&:hover {
			color: #fff;
		}
	}
}
embed {
	max-width: 100%;
}
iframe {
	max-width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}
object {
	max-width: 100%;
}
video {
	max-width: 100%;
}
.wp-caption {
	max-width: 100%;
}
figure {
	margin: 0;
}
.gallery-columns-1 {
	.gallery-item {
		width: 100%;
	}
}
.gallery-columns-2 {
	.gallery-item {
		width: 50%;
		&:nth-child(2n+1) {
			clear: left;
		}
	}
}
.gallery-columns-3 {
	.gallery-item {
		width: 33%;
		&:nth-child(3n+1) {
			clear: left;
		}
	}
}
.gallery-columns-4 {
	.gallery-item {
		width: 25%;
		&:nth-child(4n+1) {
			clear: left;
		}
	}
}
.gallery-columns-5 {
	.gallery-item {
		width: 20%;
		&:nth-child(5n+1) {
			clear: left;
		}
	}
}
.gallery-columns-6 {
	.gallery-item {
		width: 16.6666%;
		&:nth-child(6n+1) {
			clear: left;
		}
	}
}
.gallery-columns-7 {
	.gallery-item {
		width: 14.2857%;
		&:nth-child(7n+1) {
			clear: left;
		}
	}
}
.gallery-columns-8 {
	.gallery-item {
		width: 12.5%;
		&:nth-child(8n+1) {
			clear: left;
		}
	}
}
.gallery-columns-9 {
	.gallery-item {
		width: 11.1111%;
		&:nth-child(9n+1) {
			clear: left;
		}
	}
}
.gallery-item {
	float: left;
	margin: 0 0 30px;
	text-align: center;
}
select {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #333;
	font-size: 18px;
	font-weight: 400;
	padding: 15px;
	width: 100%;
}
input[type="checkbox"] {
	width: auto;
}
input[type="image"] {
	width: auto;
}
input[type="radio"] {
	width: auto;
}
::-ms-input-placeholder {
	color: #777;
	opacity: 1;
}
:-ms-input-placeholder {
	color: #777;
	opacity: 1;
}
::placeholder {
	color: #777;
	opacity: 1;
}
.site-container {
	div.wpforms-container-full {
		.wpforms-form {
			input[type="submit"] {
				background-color: #333;
				border: 0;
				border-radius: 5px;
				color: #fff;
				cursor: pointer;
				font-size: 16px;
				font-weight: 600;
				padding: 15px 30px;
				text-align: center;
				text-decoration: none;
				white-space: normal;
				width: auto;
				&:focus {
					background-color: #0073e5;
					border-width: 0;
					color: #fff;
				}
				&:hover {
					background-color: #0073e5;
					border-width: 0;
					color: #fff;
				}
			}
			button[type="submit"] {
				background-color: #333;
				border: 0;
				border-radius: 5px;
				color: #fff;
				cursor: pointer;
				font-size: 16px;
				font-weight: 600;
				padding: 15px 30px;
				text-align: center;
				text-decoration: none;
				white-space: normal;
				width: auto;
				&:focus {
					background-color: #0073e5;
					border-width: 0;
					color: #fff;
				}
				&:hover {
					background-color: #0073e5;
					border-width: 0;
					color: #fff;
				}
			}
		}
	}
	button {
		&:disabled {
			background-color: #eee;
			border-width: 0;
			color: #777;
			cursor: not-allowed;
			&:hover {
				background-color: #eee;
				border-width: 0;
				color: #777;
				cursor: not-allowed;
			}
		}
	}
	input {
		&:disabled {
			background-color: #eee;
			border-width: 0;
			color: #777;
			cursor: not-allowed;
			&:hover {
				background-color: #eee;
				border-width: 0;
				color: #777;
				cursor: not-allowed;
			}
		}
	}
	input[type="button"] {
		&:disabled {
			background-color: #eee;
			border-width: 0;
			color: #777;
			cursor: not-allowed;
			&:hover {
				background-color: #eee;
				border-width: 0;
				color: #777;
				cursor: not-allowed;
			}
		}
	}
	input[type="reset"] {
		&:disabled {
			background-color: #eee;
			border-width: 0;
			color: #777;
			cursor: not-allowed;
			&:hover {
				background-color: #eee;
				border-width: 0;
				color: #777;
				cursor: not-allowed;
			}
		}
	}
	input[type="submit"] {
		&:disabled {
			background-color: #eee;
			border-width: 0;
			color: #777;
			cursor: not-allowed;
			&:hover {
				background-color: #eee;
				border-width: 0;
				color: #777;
				cursor: not-allowed;
			}
		}
	}
}
input[type="search"] {
	&::-webkit-search-cancel-button {
		display: none;
	}
	&::-webkit-search-results-button {
		display: none;
	}
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 40px;
	table-layout: fixed;
	width: 100%;
	word-break: break-all;
}
tbody {
	border-bottom: 1px solid #eee;
}
td {
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #eee;
	padding: 10px;
	&:first-child {
		padding-left: 0;
	}
	&:last-child {
		padding-right: 0;
	}
}
th {
	text-align: left;
	vertical-align: top;
	font-weight: 600;
	padding: 0 10px 10px;
	&:first-child {
		padding-left: 0;
	}
	&:last-child {
		padding-right: 0;
	}
}
.screen-reader-shortcut {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	&:focus {
		background: #fff;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #333;
		display: block;
		font-size: 1em;
		font-weight: 700;
		height: auto;
		padding: 15px 23px 14px;
		text-decoration: none;
		width: auto;
		z-index: 100000;
	}
}
.screen-reader-text {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	span {
		border: 0;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		overflow: hidden;
		position: absolute !important;
		width: 1px;
		word-wrap: normal !important;
	}
	&:focus {
		background: #fff;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #333;
		display: block;
		font-size: 1em;
		font-weight: 700;
		height: auto;
		padding: 15px 23px 14px;
		text-decoration: none;
		width: auto;
		z-index: 100000;
	}
}
.widget_search {
	input[type="submit"] {
		&:focus {
			background: #fff;
			box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
			clip: auto !important;
			color: #333;
			display: block;
			font-size: 1em;
			font-weight: 700;
			height: auto;
			padding: 15px 23px 14px;
			text-decoration: none;
			width: auto;
			z-index: 100000;
		}
	}
}
.more-link {
	display: inline-block;
	position: relative;
	margin-bottom: 30px;
}